# VSCode
.vscode/
*.code-workspace

# catkin / colcon
build/
devel/
install/
logs/
log/
.catkin_tools/
.catkin_workspace
/src/CMakeLists.txt

# Ansible
*.retry
/ansible/roles/caffe/caffe/
ansible/roles/osqp/osqp/

# Python
*.pyc

# Lanelet2
/src/map/lanelet2
/src/map/mrt_cmake_modules

# us sample path data
src/planning/util/path_loader/data/us_sample_path.csv

src/perception/object_recognition/detection/lidar_apollo_instance_segmentation/data
src/perception/object_recognition/detection/tensorrt_yolo3/data
src/perception/traffic_light_recognition/traffic_light_classifier/data
src/perception/traffic_light_recognition/traffic_light_fine_detector/data
src/perception/object_recognition/detection/tensorrt_yolo3/yolov3_416_fp32.engine
